<div>
  <mat-toolbar>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="1.8em">
      <span>NatureLens</span>
      <div class="space"></div>
      <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="1.5em">
        <a class="options-list" routerLink="/Photos">Home</a>
        <a class="options-list" routerLink="/login">Login</a>
        <a class="options-list" routerLink="/About">About</a>
      </div>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
